# Comma-separated list of Companies
NEXT_PUBLIC_COMPANIES="COMPANY_1,COMPANY_2"

# Comma-separated list of IDs
COMPANY_1="your_approved_ids_here"
COMPANY_2="id1,id2"

# Editor to be able to open error directly from the browser
REACT_EDITOR=""

##### Get those from your database provider (Vercel) #####
# Recommended for most uses
DATABASE_URL=""

# For uses requiring a connection without pgbouncer
DATABASE_URL_UNPOOLED=""

# Parameters for constructing your own connection string
PGHOST=""
PGHOST_UNPOOLED=""
PGUSER=""
PGDATABASE=""
PGPASSWORD=""

# Parameters for Vercel Postgres Templates
POSTGRES_URL=""
POSTGRES_URL_NON_POOLING=""
POSTGRES_USER=""
POSTGRES_HOST=""
POSTGRES_PASSWORD=""
POSTGRES_DATABASE=""
